flows_kho.json
[{"id":"fae03d52.830c7","type":"function","z":"dbc01f9a.1aa8c","name":"PreToken","func":"global.set(\"lh\",msg.payload.lh)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"ip\",msg.payload.ip)\nglobal.set(\"nt\",msg.payload.nt)\nglobal.set(\"bt\",msg.payload.bt)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"fs\",msg.payload.fs)\nglobal.set(\"ro\",msg.payload.ro)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"elon\",msg.payload.elon)\nvar apikey=\"RSJ23vdDcKa9sqHKoFnRiX8Kj7Fh39Bcj2h2yoOo7ZGg\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":460,"wires":[["1a07ed9a.c23132"]]},{"id":"1a07ed9a.c23132","type":"http request","z":"dbc01f9a.1aa8c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":448.9999952316284,"wires":[["d582d220.8b078"]]},{"id":"dfb5187e.c5bc68","type":"debug","z":"dbc01f9a.1aa8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":190.99999713897705,"wires":[]},{"id":"d582d220.8b078","type":"function","z":"dbc01f9a.1aa8c","name":"Pre Prediction","func":"var lh = global.get('lh')\nvar wt = global.get('wt')\nvar id = global.get('id')\nvar ip = global.get('ip')\nvar nt = global.get('nt')\nvar bt = global.get('bt')\nvar ps = global.get('ps')\nvar fs = global.get('fs')\nvar ro = global.get('ro')\nvar ts = global.get('ts')\nvar elon = global.get('elon')\nvar token=msg.payload.access_token\nvar instance_id=\"af26264b-75cb-4505-9680-ccc3f127ac91\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"layer_height\", \"wall_thickness\", \"infill_density\", \"infill_pattern\", \"nozzle_temperature\", \"bed_temperature\", \"print_speed\", \"fan_speed\", \"roughness\", \"tension_strenght\", \"elongation\"], \"values\": [[lh,wt,id,ip,nt,bt,ps,fs,ro,ts,elon]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":411.9999990463257,"wires":[["6cbb74cd.acbbfc"]]},{"id":"6cbb74cd.acbbfc","type":"http request","z":"dbc01f9a.1aa8c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/6943bb84-6e04-4941-a9f1-4960aa5048f4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":355.9999990463257,"wires":[["690b4b94.352a24","dfb5187e.c5bc68"]]},{"id":"df8db0cd.89079","type":"ui_form","z":"dbc01f9a.1aa8c","name":"","label":"","group":"7fd745f9.0a068c","order":1,"width":0,"height":0,"options":[{"label":"layer_height","value":"lh","type":"number","required":true,"rows":null},{"label":"wall_thickness","value":"wt","type":"number","required":true,"rows":null},{"label":"infill_density","value":"id","type":"number","required":true,"rows":null},{"label":"infill_pattern","value":"ip","type":"text","required":true,"rows":null},{"label":"nozzle_temperature","value":"nt","type":"number","required":true,"rows":null},{"label":"bed_temperature","value":"bt","type":"number","required":true,"rows":null},{"label":"print_speed","value":"ps","type":"number","required":true,"rows":null},{"label":"fan_speed","value":"fs","type":"number","required":true,"rows":null},{"label":"roughness","value":"ro","type":"number","required":true,"rows":null},{"label":"tension_strenght","value":"ts","type":"number","required":true,"rows":null},{"label":"elongation","value":"elon","type":"number","required":true,"rows":null}],"formValue":{"lh":"","wt":"","id":"","ip":"","nt":"","bt":"","ps":"","fs":"","ro":"","ts":"","elon":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":502.9999952316284,"wires":[["fae03d52.830c7"]]},{"id":"7f49b199.7f0eb","type":"ui_text","z":"dbc01f9a.1aa8c","group":"7fd745f9.0a068c","order":2,"width":0,"height":0,"name":"","label":"Material:","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":508.20000743865967,"wires":[]},{"id":"690b4b94.352a24","type":"function","z":"dbc01f9a.1aa8c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["7f49b199.7f0eb"]]},{"id":"7fd745f9.0a068c","type":"ui_group","z":"","name":"Default","tab":"2c09a711.115518","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c09a711.115518","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]